{
  /*
   * Definition for {{ item.name }} service.
   */
  "@class" :            "{{ item.id.class|default('org.apereo.cas.services.RegexRegisteredService') }}",
  "serviceId" :         "{{ item.service }}",
  "name" :              "{{ item.name }}",
  "id" :                {{ item.id }},
  {% if item.order is defined %}
  "evaluationOrder" :   {{ item.order }},
  {% endif %}
  {% if item.logoutType is defined %}
  "logoutType" :        "{{ item.logoutType }}_CHANNEL",
  {% endif %}
  {% if item.logoutUrl is defined %}
  "logoutUrl" :         "{{ item.logoutUrl }}",
  {% endif %}  
}

